config siproxd general
	# Custom options allow using OpenWRT network names, and defaults should
	# work out-of-the-box. If your SIP devices do not REGISTER externally,
	# you may also need to open firewall ports: tcp/udp 5060, udp 7070-7089.
	option interface_inbound lan
	option interface_outbound wan

# All other documented siproxd configuration directives are supported. Use
# a UCI 'option' for single-instance directives, and UCI 'list' entries for
# directives that allow multiple instances, per the examples below.

	# Define low-level network devices, overriding interface_in/outbound:
#	option if_inbound eth0
#	option if_outbound ppp0

	# Enable DEBUG logging for configuration messages:
#	option debug_level 0x00000100
#	option silence_log 0

	# Load two plugins: one that logs SIP call details to syslog, and one
	# that strips out G.729, GSM codecs:
#	list load_plugin 'plugin_logcall.so'
#	list load_plugin 'plugin_codecfilter.so'
#	list plugin_codecfilter_blacklist G729
#	list plugin_codecfilter_blacklist GSM
